<!doctype html>
<html ng-app="demoApp">
  <head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  </head>
  <body>
    <div data-ng-controller="SimpleController">
		<div greeting ></div>
		Name: <br/>
		<input type="text" data-ng-model="name" />{{ name }}
		<br/>
		<ul>
			<li data-ng-repeat="cust in customers | filter:name | orderBy:'city' ">{{ cust.name | uppercase}} - {{cust.city | lowercase}}</li>
		</ul>
    </div>
	<script>
	
		var demoApp = angular.module('demoApp',[]);
		
		demoApp.controller('SimpleController', function($scope){
			$scope.customers = [
				{name: 'Dave Jones', city: 'Phoenix'},
				{name: 'Jamie Riley', city: 'Atlanta'},
				{name: 'Heedy Wahlin', city: 'Chandler'},
				{name: 'Thomas Winter', city: 'Seattle'}
			];
			
			$scope.greeting = " Hello World! This is a directive!!! doing the magic";
		})
		.directive('greeting', function(){
			return {
				template: 'Greeting: {{ greeting }} '
			};
		});
		;
		
	</script>
  </body>
</html>